/* Float  */
#grid-floats {
  padding-left: 0;
}

#grid-floats .grid-item {
  float: left;
  width: 50%;
  width: calc(50% - 2px);
  display: block;
  border: 1px solid red;
}

#grid-floats .grid-item:first-child {
  width: 100%;
}

#grid-floats .grid-item img {
  width: 100%;
}


/* tabled */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  html {

  }
}

/* desktop */
@media only screen and (min-width: 1024px) {
  html {
    background-color: green;
  }
}
