 * {
   margin: 0;
   padding: 0;
 }

 body {
   height: 200vh;
 }

 .wrapper {
   margin: 50px;
 }

 .box {
   width: 100px;
   height: 100px;
 }

 .box:nth-child(1) {
   background-color: blue;
 }

 .box:nth-child(2) {
   background-color: lightcoral;
 }

 .box:nth-child(3) {
   background-color: rgb(10, 53, 53);
 }